<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mapper.RoleMenuMapper">


    <delete id="deleteRoleMenuByRoleId" parameterType="long">
        delete from mall_role_menu where role_id = #{roleId}
    </delete>

    <delete id="deleteRoleMenuByMenuIds" >
        delete from mall_role_menu where menu_id in
        <foreach collection="menuId" open="(" close=")" item="item" separator=",">
            #{item}
        </foreach>
    </delete>

    <insert id="batchRoleMenu" parameterType="list">
        insert into mall_role_menu(role_id,menu_id) values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.roleId},#{item.menuId})
        </foreach>
    </insert>
</mapper>
