<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mapper.UserMapper">


    <resultMap id="UserResult" type="com.mall.domain.User" >
        <id column="user_id" property="userId" ></id>
        <result column="user_name" property="userName"></result>
        <result column="nick_name" property="nickName"></result>
        <result column="email" property="email" ></result>
        <result column="phonenumber" property="phonenumber"></result>
        <result column="sex" property="sex" ></result>
        <result column="avatar" property="avatar" ></result>
        <result column="password" property="password"></result>
        <result column="status" property="status"></result>
        <result column="del_flag" property="delFlag"></result>
        <result column="login_ip" property="loginIp"></result>
        <result column="login_date" property="loginDate"></result>
        <result column="create_by" property="createBy" ></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_by" property="updateBy"></result>
        <result column="update_time" property="updateTime"></result>
        <result column="remark" property="remark"></result>
        <collection  property="roles"   javaType="java.util.List"  resultMap="RoleResult" />
    </resultMap>

    <resultMap id="RoleResult" type="com.mall.domain.Role">
        <id     property="roleId"       column="role_id"        />
        <result property="roleName"     column="role_name"      />
        <result property="roleKey"      column="role_key"       />
        <result property="roleSort"     column="role_sort"      />
        <result property="status"       column="role_status"    />
    </resultMap>

    <sql id="UserVo" >
        select u.user_id,u.user_name, u.nick_name, u.email, u.avatar, u.phonenumber, u.password, u.sex, u.status, u.del_flag, u.login_ip, u.login_date, u.create_by,u.create_time, u.remark,
        u.update_time,u.update_by,
        r.role_id, r.role_name, r.role_key, r.role_sort,  r.status as role_status
        from mall_user u
        left join mall_user_role ur on u.user_id = ur.user_id
        left join mall_role  r on r.role_id = ur.role_id
    </sql>
    
    <select id="selectUserByUserName" resultMap="UserResult" parameterType="string">
        <include refid="UserVo"></include>
        where u.user_name = #{userName}
    </select>
</mapper>
